In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
file1 = pd.read_csv('files_for_lab/csv_files/file1.csv')

In [4]:
file2 = pd.read_csv('files_for_lab/csv_files/file2.csv')

In [5]:
file3 = pd.read_csv('files_for_lab/csv_files/file3.csv')

In [6]:
file1.shape

(4008, 11)

In [7]:
file2.shape

(996, 11)

In [8]:
file3.shape

(7070, 11)

In [9]:
file1.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [10]:
file2.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

In [11]:
file3.head()

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV

In [12]:
column_names = file1.columns

In [13]:
data = pd.DataFrame(columns = column_names)

In [14]:
data = pd.concat([data,file1,file2,file3], axis = 0)

In [15]:
data.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,State,Gender
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,NaN,NaN
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,NaN,NaN
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,NaN,NaN
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,NaN,NaN
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,NaN,NaN

In [16]:
data['GENDER'] = np.where(data['GENDER'].isna(),data['Gender'],data['GENDER'])
data['State'] = np.where(data['State'].isna(),data['ST'],data['State'])

data = data.drop(['Gender', 'ST'],axis=1)
data.head()

,Customer,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,State
0,RB50392,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,Washington
1,QZ44356,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,Arizona
2,AI49188,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,Nevada
3,WW63253,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,California
4,GA49547,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,Washington

In [17]:
cols = []
for i in range(len(data.columns)):
    cols.append(data.columns[i].lower().replace(" ","_"))
data.columns = cols

In [18]:
data.head()

,customer,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount,state
0,RB50392,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,Washington
1,QZ44356,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,Arizona
2,AI49188,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,Nevada
3,WW63253,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,California
4,GA49547,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,Washington

In [19]:
data.dtypes

customer                      object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
state                         object
dtype: object

In [20]:
data.drop(['education','number_of_open_complaints'], axis = 1)

,customer,gender,customer_lifetime_value,income,monthly_premium_auto,policy_type,vehicle_class,total_claim_amount,state
0,RB50392,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934,Washington
1,QZ44356,F,697953.59%,0.0,94.0,Personal Auto,Four-Door Car,1131.464935,Arizona
2,AI49188,F,1288743.17%,48767.0,108.0,Personal Auto,Two-Door Car,566.472247,Nevada
3,WW63253,M,764586.18%,0.0,106.0,Corporate Auto,SUV,529.881344,California
4,GA49547,M,536307.65%,36357.0,68.0,Personal Auto,Four-Door Car,17.269323,Washington
...,...,...,...,...,...,...,...,...,...
7065,LA72316,M,23406,71941.0,73.0,Personal Auto,Four-Door Car,198.234764,California
7066,PK87824,F,3096.51,21604.0,79.0,Corporate Auto,Four-Door Car,379.200000,California
7067,TD14365,M,8163.89,0.0,85.0,Corporate Auto,Four-Door Car,790.784983,California
7068,UP19263,M,7524.44,21941.0,96.0,Personal Auto,Four-Door Car,691.200000,California
7069,Y167826,M,2611.84,0.0,77.0,Corporate Auto,Two-Door Car,369.600000,California

In [21]:
data['customer_lifetime_value'] = data['customer_lifetime_value'].str.replace("%","")
data['customer_lifetime_value'] = data['customer_lifetime_value'].astype(float)
data.dtypes

customer                      object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
state                         object
dtype: object

In [23]:
data.drop_duplicates
data.shape

(12074, 11)